.board {
  width: 90%;
}

td {
  width: 12.5%;
  position: relative;
  font-size:180%;
}

td:after {
  content: '';
  display: block;
  margin-top: 100%;
}

td .square {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0
}

td .green {
  background: #155217;
}

td .white {
  background: #c9c9c9;
}

.piece {
  height: 100%;
  width: 100%;
}

.piece1 {
  height: 50%;
  width: 50%;
}


.grow {
  height: 100%;
  width: 100%;


  filter: invert(10%) opacity(70%);
  transition: all .2s ease-in-out;

  transition-duration: .5s;
  transition-timing-function: linear;
  transition-delay: .2s;
}

.grow:hover {transform: scale(0.3);}


.grow1 {
  filter: brightness(30%) invert(10%);
}
