<table class="board" *ngIf="gameState">
  <tr>
    <td>  <div (click)="waitingtomove()" class="square white">
      Execute the best move


    </div></td>
    <td><div *ngIf = "(moveOrigin(0,1))" class="square green grow" >
      <input type="image" class="piece" *ngIf="gameState.board[0][1]" src="assets/img/{{ charToLink(0, 1) }}" >




    </div>

      <div *ngIf = "!(moveOrigin(0,1))" class="square green" >
      <input type="image" class="piece" *ngIf="gameState.board[0][1]" src="assets/img/{{ charToLink(0, 1) }}" >




    </div></td>
    <td><div class="square white"></div></td>
    <td><div *ngIf = "(moveOrigin(0,3))" class="square green grow" >
      <input type="image" class="piece" *ngIf="gameState.board[0][3]" src="assets/img/{{ charToLink(0, 3) }}" >
    </div>
      <div *ngIf = "!(moveOrigin(0,3))" class="square green" >
        <input type="image" class="piece" *ngIf="gameState.board[0][3]" src="assets/img/{{ charToLink(0, 3) }}" >
    </div></td>
    <td><div class="square white"></div></td>

    <td><div *ngIf = "(moveOrigin(0,5))" class="square green grow" >
      <input type="image" class="piece" *ngIf="gameState.board[0][5]" src="assets/img/{{ charToLink(0, 5) }}" >
    </div>
      <div *ngIf = "!(moveOrigin(0,5))" class="square green" >
        <input type="image" class="piece" *ngIf="gameState.board[0][5]" src="assets/img/{{ charToLink(0, 5) }}" >
    </div></td>

    <td><div class="square white"></div></td>
    <td><div *ngIf = "(moveOrigin(0,7))" class="square green grow" >
      <input type="image" class="piece" *ngIf="gameState.board[0][7]" src="assets/img/{{ charToLink(0, 7) }}" >
    </div>
      <div *ngIf = "!(moveOrigin(0,7))" class="square green" >
        <input type="image" class="piece" *ngIf="gameState.board[0][7]" src="assets/img/{{ charToLink(0, 7) }}" >
    </div></td>
  </tr>
  <tr>

    <td><div *ngIf = "(moveOrigin(1,0))" class="square green grow" >
      <input type="image" class="piece" *ngIf="gameState.board[1][0]" src="assets/img/{{ charToLink(1, 0) }}" >
    </div>
      <div *ngIf = "!(moveOrigin(1,0))" class="square green" >
        <input type="image" class="piece" *ngIf="gameState.board[1][0]" src="assets/img/{{ charToLink(1, 0) }}" >
    </div></td>
    <td><div class="square white"></div></td>

    <td><div *ngIf = "(moveOrigin(1,2))" class="square green grow" >
      <input type="image" class="piece" *ngIf="gameState.board[1][2]" src="assets/img/{{ charToLink(1, 2) }}" >
    </div>
      <div *ngIf = "!(moveOrigin(1,2))" class="square green" >
        <input type="image" class="piece" *ngIf="gameState.board[1][2]" src="assets/img/{{ charToLink(1, 2) }}" >
    </div></td>
    <td><div class="square white"></div></td>

    <td><div *ngIf = "(moveOrigin(1,4))" class="square green grow" >
      <input type="image" class="piece" *ngIf="gameState.board[1][4]" src="assets/img/{{ charToLink(1, 4) }}" >
    </div>
      <div *ngIf = "!(moveOrigin(1,4))" class="square green" >
        <input type="image" class="piece" *ngIf="gameState.board[1][4]" src="assets/img/{{ charToLink(1, 4) }}" >
    </div></td>
    <td><div class="square white"></div></td>
    <td><div *ngIf = "(moveOrigin(1,6))" class="square green grow" >
      <input type="image" class="piece" *ngIf="gameState.board[1][6]" src="assets/img/{{ charToLink(1, 6) }}" >
    </div>
      <div *ngIf = "!(moveOrigin(1,6))" class="square green" >
        <input type="image" class="piece" *ngIf="gameState.board[1][6]" src="assets/img/{{ charToLink(1, 6) }}" >
    </div></td>
    <td><div class="square white"></div></td>
  </tr>
  <tr>
    <td><div class="square white"></div></td>
    <td><div *ngIf = "(moveOrigin(2,1))" class="square green grow" >
      <input type="image" class="piece" *ngIf="gameState.board[2][1]" src="assets/img/{{ charToLink(2, 1) }}" >
    </div>
      <div *ngIf = "!(moveOrigin(2,1))" class="square green" >
        <input type="image" class="piece" *ngIf="gameState.board[2][1]" src="assets/img/{{ charToLink(2, 1) }}" >
    </div></td>
    <td><div class="square white"></div></td>
    <td><div *ngIf = "(moveOrigin(2,3))" class="square green grow" >
      <input type="image" class="piece" *ngIf="gameState.board[2][3]" src="assets/img/{{ charToLink(2, 3) }}" >
      </div>
      <div *ngIf = "!(moveOrigin(2,3))" class="square green" >
        <input type="image" class="piece" *ngIf="gameState.board[2][3]" src="assets/img/{{ charToLink(2, 3) }}" >
    </div></td>
    <td><div class="square white"></div></td>
    <td><div *ngIf = "(moveOrigin(2,5))" class="square green grow" >
      <input type="image" class="piece" *ngIf="gameState.board[2][5]" src="assets/img/{{ charToLink(2, 5) }}" >
      </div>
      <div *ngIf = "!(moveOrigin(2,5))" class="square green" >
        <input type="image" class="piece" *ngIf="gameState.board[2][5]" src="assets/img/{{ charToLink(2, 5) }}" >
    </div></td>
    <td><div class="square white"></div></td>
    <td><div *ngIf = "(moveOrigin(2,7))" class="square green grow" >
      <input type="image" class="piece" *ngIf="gameState.board[2][7]" src="assets/img/{{ charToLink(2, 7) }}" >
      </div>
      <div *ngIf = "!(moveOrigin(2,7))" class="square green" >
        <input type="image" class="piece" *ngIf="gameState.board[2][7]" src="assets/img/{{ charToLink(2, 7) }}" >
    </div></td>
  </tr>
  <tr>
    <td> <div *ngIf = "(moveDest(3,0))" class="square green grow1"> </div>
      <div *ngIf = "(moveOrigin(3,0))" class="square green grow" >
        <input type="image" class="piece" *ngIf="gameState.board[3][0]" src="assets/img/{{ charToLink(3, 0) }}" >
      </div>
      <div *ngIf = "!(moveOrigin(3,0))" class="square green" >
        <input type="image" class="piece" *ngIf="gameState.board[3][0]" src="assets/img/{{ charToLink(3, 0) }}" >
    </div></td>
    <td><div class="square white"></div></td>
    <td><div *ngIf = "(moveOrigin(3,2))" class="square green grow" >
      <input type="image" class="piece" *ngIf="gameState.board[3][2]" src="assets/img/{{ charToLink(3, 2) }}" >
    </div>
      <div *ngIf = "!(moveOrigin(3,2))" class="square green" >
        <input type="image" class="piece" *ngIf="gameState.board[3][2]" src="assets/img/{{ charToLink(3, 2) }}" >
    </div></td>
    <td><div class="square white"></div></td>
    <td><div *ngIf = "(moveOrigin(3,4))" class="square green grow" >
      <input type="image" class="piece" *ngIf="gameState.board[3][4]" src="assets/img/{{ charToLink(3, 4) }}" >
    </div>
      <div *ngIf = "!(moveOrigin(3,4))" class="square green" >
        <input type="image" class="piece" *ngIf="gameState.board[3][4]" src="assets/img/{{ charToLink(3, 4) }}" >
    </div></td>
    <td><div class="square white"></div></td>
    <td><div *ngIf = "(moveOrigin(3,6))" class="square green grow" >
      <input type="image" class="piece" *ngIf="gameState.board[3][6]" src="assets/img/{{ charToLink(3, 6) }}" >
    </div>
      <div *ngIf = "!(moveOrigin(3,6))" class="square green" >
        <input type="image" class="piece" *ngIf="gameState.board[3][6]" src="assets/img/{{ charToLink(3, 6) }}" >
    </div></td>
    <td><div class="square white"></div></td>
  </tr>
  <tr>
    <td><div class="square white"></div></td>
    <td>
      <div *ngIf = "(moveOrigin(4,1))" class="square green grow" >
        <input type="image" class="piece" *ngIf="gameState.board[4][1]" src="assets/img/{{ charToLink(4, 1) }}" >
      </div>
      <div *ngIf = "!(moveOrigin(4,1))" class="square green" >
        <input type="image" class="piece" *ngIf="gameState.board[4][1]" src="assets/img/{{ charToLink(4, 1) }}" >
    </div></td>
    <td><div class="square white"></div></td>
    <td><div *ngIf = "(moveOrigin(4,3))" class="square green grow" >
      <input type="image" class="piece" *ngIf="gameState.board[4][3]" src="assets/img/{{ charToLink(4, 3) }}" >
    </div>
      <div *ngIf = "!(moveOrigin(4,3))" class="square green" >
        <input type="image" class="piece" *ngIf="gameState.board[4][3]" src="assets/img/{{ charToLink(4, 3) }}" >
    </div></td>
    <td><div class="square white"></div></td>
    <td><div *ngIf = "(moveOrigin(4,5))" class="square green grow" >
      <input type="image" class="piece" *ngIf="gameState.board[4][5]" src="assets/img/{{ charToLink(4, 5) }}" >
    </div>
      <div *ngIf = "!(moveOrigin(4,5))" class="square green" >
        <input type="image" class="piece" *ngIf="gameState.board[4][5]" src="assets/img/{{ charToLink(4, 5) }}" >
    </div></td>
    <td><div class="square white"></div></td>
    <td><div *ngIf = "(moveOrigin(4,7))" class="square green grow" >
      <input type="image" class="piece" *ngIf="gameState.board[4][7]" src="assets/img/{{ charToLink(4, 7) }}" >
    </div>
      <div *ngIf = "!(moveOrigin(4,7))" class="square green" >
        <input type="image" class="piece" *ngIf="gameState.board[4][7]" src="assets/img/{{ charToLink(4, 7) }}" >
    </div></td>
  </tr>
  <tr>
    <td><div *ngIf = "(moveOrigin(5,0))" class="square green grow" >
      <input type="image" class="piece" *ngIf="gameState.board[5][0]" src="assets/img/{{ charToLink(5, 0) }}" >
    </div>
      <div *ngIf = "!(moveOrigin(5,0))" class="square green" >
        <input type="image" class="piece" *ngIf="gameState.board[5][0]" src="assets/img/{{ charToLink(5, 0) }}" >

      </div></td>
    <td><div class="square white"></div></td>
    <td><div *ngIf = "(moveOrigin(5,2))" class="square green grow" >
      <input type="image" class="piece" *ngIf="gameState.board[5][2]" src="assets/img/{{ charToLink(5, 2) }}" >
    </div>
      <div *ngIf = "!(moveOrigin(5,2))" class="square green" >
        <input type="image" class="piece" *ngIf="gameState.board[5][2]" src="assets/img/{{ charToLink(5, 2) }}" >
    </div></td>
    <td><div class="square white"></div></td>
    <td><div *ngIf = "(moveOrigin(5,4))" class="square green grow" >
      <input type="image" class="piece" *ngIf="gameState.board[5][4]" src="assets/img/{{ charToLink(5, 4) }}" >
    </div>
      <div *ngIf = "!(moveOrigin(5,4))" class="square green" >
        <input type="image" class="piece" *ngIf="gameState.board[5][4]" src="assets/img/{{ charToLink(5, 4) }}" >
    </div></td>
    <td><div class="square white"></div></td>
    <td><div *ngIf = "(moveOrigin(5,6))" class="square green grow" >
      <input type="image" class="piece" *ngIf="gameState.board[5][6]" src="assets/img/{{ charToLink(5, 6) }}" >
    </div>
      <div *ngIf = "!(moveOrigin(5,6))" class="square green" >
        <input type="image" class="piece" *ngIf="gameState.board[5][6]" src="assets/img/{{ charToLink(5, 6) }}" >
    </div></td>
    <td><div class="square white"></div></td>
  </tr>
  <tr>
    <td><div class="square white"></div></td>
    <td><div *ngIf = "(moveOrigin(6,1))" class="square green grow" >
      <input type="image" class="piece" *ngIf="gameState.board[6][1]" src="assets/img/{{ charToLink(6, 1) }}" >
    </div>
      <div *ngIf = "!(moveOrigin(6,1))" class="square green" >
        <input type="image" class="piece" *ngIf="gameState.board[6][1]" src="assets/img/{{ charToLink(6, 1) }}" >
    </div></td>
    <td><div class="square white"></div></td>
    <td><div *ngIf = "(moveOrigin(6,3))" class="square green grow" >
      <input type="image" class="piece" *ngIf="gameState.board[6][3]" src="assets/img/{{ charToLink(6, 3) }}" >
    </div>
      <div *ngIf = "!(moveOrigin(6,3))" class="square green" >
        <input type="image" class="piece" *ngIf="gameState.board[6][3]" src="assets/img/{{ charToLink(6, 3) }}" >
    </div></td>
    <td><div class="square white"></div></td>
    <td><div *ngIf = "(moveOrigin(6,5))" class="square green grow" >
      <input type="image" class="piece" *ngIf="gameState.board[6][5]" src="assets/img/{{ charToLink(6, 5) }}" >
    </div>
      <div *ngIf = "!(moveOrigin(6,5))" class="square green" >
        <input type="image" class="piece" *ngIf="gameState.board[6][5]" src="assets/img/{{ charToLink(6, 5) }}" >
    </div></td>
    <td><div class="square white"></div></td>
    <td><div *ngIf = "(moveOrigin(6,7))" class="square green grow" >
      <input type="image" class="piece" *ngIf="gameState.board[6][7]" src="assets/img/{{ charToLink(6, 7) }}" >
    </div>
      <div *ngIf = "!(moveOrigin(6,7))" class="square green" >
        <input type="image" class="piece" *ngIf="gameState.board[6][7]" src="assets/img/{{ charToLink(6, 7) }}" >
    </div></td>
  </tr>
  <tr>
    <td><div *ngIf = "(moveOrigin(7,0))" class="square green grow" >
      <input type="image" class="piece" *ngIf="gameState.board[7][0]" src="assets/img/{{ charToLink(7, 0) }}" >
    </div>
      <div *ngIf = "!(moveOrigin(7,0))" class="square green" >
        <input type="image" class="piece" *ngIf="gameState.board[7][0]" src="assets/img/{{ charToLink(7, 0) }}" >
    </div></td>
    <td><div class="square white"></div></td>
    <td><div *ngIf = "(moveOrigin(7,2))" class="square green grow" >
      <input type="image" class="piece" *ngIf="gameState.board[7][2]" src="assets/img/{{ charToLink(7, 2) }}" >
    </div>
      <div *ngIf = "!(moveOrigin(7,2))" class="square green" >
        <input type="image" class="piece" *ngIf="gameState.board[7][2]" src="assets/img/{{ charToLink(7, 2) }}" >
    </div></td>
    <td><div class="square white"></div></td>
    <td><div *ngIf = "(moveOrigin(7,4))" class="square green grow" >
      <input type="image" class="piece" *ngIf="gameState.board[7][4]" src="assets/img/{{ charToLink(7, 4) }}" >
    </div>
      <div *ngIf = "!(moveOrigin(7,4))" class="square green" >
        <input type="image" class="piece" *ngIf="gameState.board[7][4]" src="assets/img/{{ charToLink(7, 4) }}" >
    </div></td>
    <td><div class="square white"></div></td>
    <td><div *ngIf = "(moveOrigin(7,6))" class="square green grow" >
      <input type="image" class="piece" *ngIf="gameState.board[7][6]" src="assets/img/{{ charToLink(7, 6) }}" >
    </div>
      <div *ngIf = "!(moveOrigin(7,6))" class="square green" >
        <input type="image" class="piece" *ngIf="gameState.board[7][6]" src="assets/img/{{ charToLink(7, 6) }}" >
    </div></td>
    <td><div class="square white"></div></td>
  </tr>
</table>
